<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="./css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="./js/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="./js/bootstrap.min.js"></script>
<style type="text/css">
	.noborder{
		border: 0px;
	}
</style>
<body>
#parse("./topbar.html")

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<form id="form-search" action="./search" method="post">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default 
				dropdown-toggle" data-toggle="dropdown">
					<span id="type-lebal">搜索类型</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" id="li-house" data-type="house" onclick="changeType(this);">房屋</a></li>
					<li><a href="javascript:void(0);" id="li-people" data-type="people" onclick="changeType(this);">人口</a></li>
					<li><a href="javascript:void(0);" id="li-employer" data-type="employer" onclick="changeType(this);">单位</a></li>
					<li><a href="javascript:void(0);" id="li-place" data-type="place" onclick="changeType(this);">场所</a></li>
					<li><a href="javascript:void(0);" id="li-camera" data-type="camera" onclick="changeType(this);">监控</a></li>
				</ul>
				<input type="hidden" name="type" id="type" value="house">
				<input type="hidden" name="pageindex" id="page" value="1">
			</div><!-- /btn-group -->
			<input type="text" name="searchkey" id="searchkey" class="form-control" placeholder="搜索词之间请用空格分隔, 如“泺源 泉城广场”" value="$!searchkey">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit" onclick="submit();">搜索</button>
			</span>
		</div><!-- /input-group -->
		</form>
	</div><!-- /.col-md-6 -->
	<div class="col-md-3">
	</div>
</div><!-- /.row -->
<br/>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8"><!-- 内容开始 -->
		<ul class="nav nav-tabs">
		  <li id="label-house"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('house');">房屋</a></li>
		  <li id="label-people"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('people');">人口</a></li>
		  <li id="label-employer"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('employer');">单位</a></li>
		  <li id="label-place"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('place');">场所</a></li>
		  <li id="label-camera"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('camera');">监控</a></li>
		</ul>
		#if($pagetotal<1)
		<br><div class="alert alert-warning">未搜索到信息。</div>
		#end

		#if($houselist)
		#foreach($bean in $houselist)
		<div>
			<form>
				<h4>$!bean.location</h4>
				<ul class="list-inline">
					<li><strong>类型：</strong><input class="noborder" readonly="readonly" size="$!bean.type.length()" name="type" value="$!bean.type"></li>
					<li><strong>用途：</strong><input class="noborder" readonly="readonly" size="$!bean.subtype.length()"  name="subtype" value="$!bean.subtype"></li>
					<li><strong>单元：</strong><input class="noborder" readonly="readonly" size="1" maxlength="4" name="unit" value="$!bean.unit"></li>
					<li><strong>楼层：</strong><input class="noborder" readonly="readonly" size="1" maxlength="4" name="floor" value="$!bean.floor"></li>
					<li><strong>门牌号/房号：</strong><input class="noborder" readonly="readonly" size="1" maxlength="4" name="doornumber" value="$!bean.doornumber"></li>
					<li><strong>户主/房主：</strong><input class="noborder" readonly="readonly" size="$!bean.owner.length()"  name="owner" value="$!bean.owner"></li>
					<li><strong>产权人：</strong><input class="noborder" readonly="readonly" size="$!bean.host.length()"  name="host" value="$!bean.host"></li>
				</ul>
				<ul class="list-inline">
					<li><strong>社区警：</strong>$!bean.policename</li>
					<li><strong>警务区：</strong>$!bean.policearea</li>
					<li><strong>居委会：</strong>$!bean.neighbor</li>
					#if($!bean.expend)<li><strong>备注：</strong>$!bean.expend</li>#end
				</ul>
				#if ($bean.employee)
				<div>
					<strong>从业人员：</strong><input class="noborder" readonly="readonly" size="$!bean.employee.length()" name="employee" value="$!bean.employee">
				</div>
				#end
				<div>
					#if($userrole < 3)
					<input type="checkbox" data-id="$!bean.id">
					<a href="javascript:void(0);" onclick="deleteData('$bean.id','house')">删除</a>&emsp;
					<a href="javascript:void(0);" onclick="editable(this,'house')" id="updatebtn">修改</a>
					<input type="hidden" name="id" value="$bean.id">
					#end
				</div>
			</form>
		<hr>
		</div>
		#end
		#end
		
		#if($peoplelist)
		#foreach($bean in $peoplelist)
		<div style="border-bottom:1px solid #ddd; padding: 5px 10px;">
			<ul class="list-inline">
				<li><strong>类型：</strong>$!bean.type &nbsp;$!bean.subtype</li>
				<li><strong>户主/出租人：</strong>$!bean.hostname</li>
				<li><strong>身份证号：</strong>$!bean.hostid</li>
				<li><strong>电话：</strong>$!bean.hostphone</li>
				<li><strong>人数：</strong>$!bean.number</li>
				#if ($bean.lessee)
				<li><strong>租住人：</strong>$!bean.lessee</li>
				#end
				#if ($bean.stay)
				<li><strong>寄住人：</strong>$!bean.stay</li>
				#end
			</ul>
			<ul class="list-inline">
				<li><strong>社区警：</strong>$!bean.policename</li>
				<li><strong>警务区：</strong>$!bean.policearea</li>
				<li><strong>居委会：</strong>$!bean.neighbor</li>
				#if($!bean.expend)<li><strong>备注：</strong>$!bean.expend</li>#end
			</ul>
			#if ($bean.employee)
			<div>
				<strong>从业人员：</strong>$!bean.employee
			</div>
			#end
			<div style="padding:2px 0px;">
				<!--<a href="javascript:void(0);" onclick="update('$bean.id','people')">修改</a>
				&nbsp;-->
				#if($userrole < 3)
                <input type="checkbox" data-id="$!bean.id">
				<a href="javascript:void(0);" onclick="deleteData('$bean.id','people')">删除</a>
				#end
			</div>
		</div>
		#end
		#end
		
		#if($employerlist)
		#foreach($bean in $employerlist)
		<div>
			<h4>$!bean.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!bean.type</li>
				<li><strong>地址：</strong>$!bean.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>主要负责人：</strong>$!bean.chargeman</li>
				<li><strong>身份证号：</strong>$!bean.chargemanid</li>
				<li><strong>联系电话：</strong>$!bean.chargemanphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>内保负责人：</strong>$!bean.safeman</li>
				<li><strong>身份证号：</strong>$!bean.safemanid</li>
				<li><strong>联系电话：</strong>$!bean.safemanphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>社区警：</strong>$!bean.policename</li>
				<li><strong>警务区：</strong>$!bean.policearea</li>
				<li><strong>居委会：</strong>$!bean.neighbor</li>
				#if($!bean.extend)<li><strong>备注：</strong>$!bean.extend</li>#end
			</ul>
			<div>
				<!--<a href="javascript:void(0);" onclick="update('$bean.id','bean')">修改</a>
				&nbsp;-->
				#if($userrole < 3)
                <input type="checkbox" data-id="$!bean.id">
				<a href="javascript:void(0);" onclick="deleteData('$bean.id','employer')">删除</a>
				#end
			</div>
		<hr>
		</div>
		#end
		#end
		
		#if($placelist)
		#foreach($bean in $placelist)
		<div>
			<h4>$!bean.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!bean.type</li>
				<li><strong>面积：</strong>$!bean.area</li>
				<li><strong>地址：</strong>$!bean.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>出租人：</strong>$!bean.lessor</li>
				<li><strong>身份证号：</strong>$!bean.lessorid</li>
				<li><strong>联系电话：</strong>$!bean.lessorphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>租赁人：</strong>$!bean.lessee</li>
				<li><strong>身份证号：</strong>$!bean.lesseeid</li>
				<li><strong>联系电话：</strong>$!bean.lesseephone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>社区警：</strong>$!bean.policename</li>
				<li><strong>警务区：</strong>$!bean.policearea</li>
				<li><strong>居委会：</strong>$!bean.neighbor</li>
				#if($!bean.extend)<li><strong>备注：</strong>$!bean.extend</li>#end
			</ul>
			<div>
				<!--<a href="javascript:void(0);" onclick="update('$bean.id','place')">修改</a>
				&nbsp;-->
				#if($userrole < 3)
                <input type="checkbox" data-id="$!bean.id" >
				<a href="javascript:void(0);" onclick="deleteData('$bean.id','place')">删除</a>
				#end
			</div>
		<hr>
		</div>
		#end
		#end
		
		#if($cameralist)
		#foreach($bean in $cameralist)
		<div>
			<h4>地点：$!bean.localname</h4>
			<ul class="list-inline">
				<li><strong>所属派出所：</strong>$!bean.policestation</li>
				<li><strong>分类：</strong>$!bean.type</li>
				<li><strong>类型：</strong>$!bean.devicetype</li>
				<li><strong>朝向：</strong>$!bean.direction</li>
				<li><strong>数量：</strong>$!bean.count</li>
				<li><strong>设备编号：</strong>$!$bean.deviceid</li>
			</ul>
			<ul class="list-inline">
				<li><strong>社区警：</strong>$!bean.policename</li>
				<li><strong>警务区：</strong>$!bean.policearea</li>
				<li><strong>居委会：</strong>$!bean.neighbor</li>
				#if($!bean.expend)<li><strong>备注：</strong>$!bean.expend</li>#end
			</ul>
			<div>
				<!--<a href="javascript:void(0);" onclick="update('$camera.id','camera')">修改</a>
				&nbsp;-->
				#if($userrole < 3)
                <input type="checkbox" data-id="$!camera.id">
				<a href="javascript:void(0);" onclick="deleteData('$bean.id','camera')">删除</a>
				#end
			</div>
		<hr>
		</div>
		#end
		#end

		#if($userrole < 3)
        <div style="margin: 24px 0px;float:left;">
            <a href="javascript:void(0);" onclick="selectAll()">全选</a>&emsp;
            <a href="javascript:void(0);" onclick="batchDelete()">批量删除</a>
        </div>
		#end

		<!-- 分页 -->
		#if($pagetotal > 1)
		<ul id="pager" class="pagination pull-right">
			#if($pageindex > 5)
		    	#set($start=$pageindex)
		    #else
		    	#set($start=1)
		    #end
		    
		    #if($pagetotal - $start >10)
		    	#set($end=$start + 10)
		    #else
		    	#set($end=$pagetotal)
				#set($temp=$pagetotal - 10)
				#if($temp > 0)
		    		#set($start=$temp)
				#else
					#set($start=1)
				#end
		    #end
		    
		    #if($pageindex!=1)
			#set($pre=$pageindex - 1)
		    <li><a href="javascript:void(0);" onclick="pageTo('$pre');">&laquo;</a></li>
		    #end
		    #foreach($foo in [$start..$end])
		    	<li page=$foo #if($pageindex==$foo)class="active"#end><a href="javascript:pageTo('$foo');" onlick="">$foo</a></li>
			#end
			#if($pageindex!=$end)
			#set($next=$pageindex + 1)
		    <li><a href="javascript:void(0);" onclick="pageTo('$next');">&raquo;</a></li>
		    #end
		</ul>
		#end
		
	</div><!-- 内容结束 -->
	<div class="col-md-2">
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="model-house" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
            	<form class="bs-example bs-example-form" role="form">
			        <div class="input-group">
			            <span class="input-group-addon">类别</span>
			            <input type="text" id="type" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">子类别</span>
			            <input type="text" id="subtype" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">地址</span>
			            <input type="text" id="location" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">单元</span>
			            <input type="text" id="unit" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">楼层</span>
			            <input type="text" id="floor" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">门牌号/房号</span>
			            <input type="text" id="doornumber" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">户主/房主</span>
			            <input type="text" id="owner" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon" style="width: 100px;">产权人</span>
			            <input type="text" id="host" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">从业人员</span>
			            <input type="text" id="employee" class="form-control">
			        </div>
			    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="model-people" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">修改信息</h4>
			</div>
			<div class="modal-body">
				<form class="bs-example bs-example-form" role="form">
					<div class="input-group">
						<span class="input-group-addon">类别</span>
						<input type="text" id="type" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">子类别</span>
						<input type="text" id="subtype" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">地址</span>
						<input type="text" id="location" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">单元</span>
						<input type="text" id="unit" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">楼层</span>
						<input type="text" id="floor" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">门牌号/房号</span>
						<input type="text" id="doornumber" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">户主/房主</span>
						<input type="text" id="owner" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon" style="width: 100px;">产权人</span>
						<input type="text" id="host" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">从业人员</span>
						<input type="text" id="employee" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交更改</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">
var currentType='$type';
$(function(){
　　$("#label-$type").addClass("active");
	changeType($(".dropdown-menu #li-"+"$type"))
});

function submit() {
	$("#page").value(1);
}

function changeType(obj) {
	var type = $(obj).attr('data-type')
	$("#type").val(type);
	$("#type-lebal").html($(obj).html())
}

function changeTypeAndSubmit(type) {
	$("#type").val(type);
	$("#page").val(1);
	$("#form-search").submit();
}

function pageTo(page) {
	$("#page").val(page);
	$("#form-search").submit();
}

function editable(obj, type){
	var row = $(obj).closest('form');
	$(row).find("input").each(function(){
		$(this).removeAttr("readonly");
		$(this).removeClass("noborder");
	});
	$(obj).html("保存");
	$(obj).removeAttr("onclick");
	$(obj).bind("click", function(){
		update(obj, type);
	});
}

function update(obj, type){
	var row = $(obj).closest('form');
	var param = row.serialize();
	jQuery.ajax({
		url: "/update/"+type,
		data: param,
		type: 'post',
		success: function(data){
			if(data.code == 1){
				alert("更新成功");
				$(row).find("input").each(function(){
					$(this).prop("readonly","readonly");
					$(this).addClass("noborder");
				});
				$(obj).html("修改");
				$(obj).bind("click", function(){
					editable(obj, type);
				});
			}else{
				alert("更新失败");
			}
		}
	})
}

function deleteData(id, type){
	if(confirm("确定删除吗？")){
		jQuery.ajax({
			url: "/delete/"+type+"/"+id,
			success: function(data){
				if(data.code == 1){
					alert("删除成功");
					location.reload();
				}else{
					alert("删除失败");
				}
			}
		});
	}
}

function selectAll(){
    $("input[type=checkbox]").attr("checked", "true");
}

function batchDelete(){
    if(confirm("确定删除吗？")) {
        var ids = "";
        $("input:checked").each(function () {
//        if($(this).attr("checked") == true) {
            var id = $(this).attr("data-id");
            ids += id + ",";
//        }
        })
        if (ids.length > 0) {
            ids = ids.substr(0, ids.length - 1);
        }
        jQuery.ajax({
            url: "/batchdelete/$type",
            data: {"ids": ids},
            type: "POST",
            success: function (data) {
                if (data.code == 1) {
                    alert("删除成功");
                    location.reload();
                } else {
                    alert("删除失败");
                }
            }
        });
    }
}
</script>
</body>
</html>
