<html>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="./css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="./js/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="./js/bootstrap.min.js"></script>
<body>
#parse("./topbar.html")
<div class="row">
	<div class="col-md-12">
		<div style="margin: 60px 0px">
			<h1 class="text-center">泺源派出所警务搜索</h1>
		<div/>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
	<form action="./search" method="post">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default 
				dropdown-toggle" data-toggle="dropdown">
					<span id="type-lebal">搜索类型</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" data-type="house" onclick="changeType(this);">房屋</a></li>
					<li><a href="javascript:void(0);" data-type="people" onclick="changeType(this);">人口</a></li>
					<li><a href="javascript:void(0);" data-type="employer" onclick="changeType(this);">单位</a></li>
					<li><a href="javascript:void(0);" data-type="place" onclick="changeType(this);">场所</a></li>
					<li><a href="javascript:void(0);" data-type="camera" onclick="changeType(this);">监控</a></li>
				</ul>
			</div><!-- /btn-group -->
			<input type="hidden" name="type" id="type" value="house">
			<input type="text" name="searchkey" class="form-control" placeholder="搜索词之间请用空格分隔, 如“泺源 泉城广场”">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">搜索</button>
			</span>
		</div><!-- /input-group -->
	</form>
		<h5><b>使用说明：</b></h5>
		<h5>搜索多个词时推荐用空格隔开，如“泺源 泉城广场”。</h5>
		<h5>模糊搜索时，使用*（星号）代表任意多个字符，?（问号）代表单个字符。</h5>
		<h5><b>模糊搜索示例：</b></h5>
		<h5>输入“&nbsp;济南??&nbsp;”得到结果：“济南公安"，“济南消防”，每个问号匹配一个字符。</h5>
		<h5>输入“&nbsp;济南*&nbsp;”得到结果：“济南市”，“济南公安”，“济南市市中区”，一个星号匹配任意个字符。</h5>
	</div><!-- /.col-lg-6 -->
	<div class="col-md-3">
	</div>
</div><!-- /.row -->

<script type="text/javascript">
function changeType(obj) {
	var type = $(obj).attr('data-type')
	$("#type").val(type);
	$("#type-lebal").html($(obj).html())
}
</script>

</body>
</html>
