<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<body>
#parse("./topbar.html")

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<form action="/search">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default 
				dropdown-toggle" data-toggle="dropdown">
					<span id="type-lebal">搜索类型</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" data-type="house" onclick="changeType(this);">房屋</a></li>
					<li><a href="javascript:void(0);" data-type="people" onclick="changeType(this);">人口</a></li>
					<li><a href="javascript:void(0);" data-type="employer" onclick="changeType(this);">单位</a></li>
					<li><a href="javascript:void(0);" data-type="place" onclick="changeType(this);">场所</a></li>
					<li><a href="javascript:void(0);" data-type="camera" onclick="changeType(this);">监控</a></li>
				</ul>
				<input type="hidden" name="type" id="type" value="house">
				<input type="hidden" name="page" id="page" value="1">
			</div><!-- /btn-group -->
			<input type="text" name="searchkey" id="searchkey" class="form-control" placeholder="搜索词之间请用空格分隔, 如“泺源 泉城广场”" value="$!searchkey">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick="submit();">搜索</button>
			</span>
		</div><!-- /input-group -->
		</form>
	</div><!-- /.col-md-6 -->
	<div class="col-md-3">
	</div>
</div><!-- /.row -->
<br/>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8"><!-- 内容开始 -->
		<ul class="nav nav-tabs">
		  <li id="label-house"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('house');">房屋</a></li>
		  <li id="label-people"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('people');">人口</a></li>
		  <li id="label-employer"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('employer');">单位</a></li>
		  <li id="label-place"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('place');">场所</a></li>
		  <li id="label-camera"><a href="javascript:void(0);" onclick="changeTypeAndSubmit('camera');">监控</a></li>
		</ul>
		#if($houselist)
		#foreach($house in $houselist)
		<div>
			<h4>$!house.location</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!house.type &nbsp;$!house.subtype</li>
				#if ($house.unit)
				<li><strong>单元：</strong>$!house.unit</li>
				#end
				<li><strong>楼层：</strong>$!house.floor</li>
				#if ($house.doornumber)
				<li><strong>门牌号/房号：</strong>$!house.doornumber</li>
				#end
				<li><strong>户主/房主：</strong>$!house.owner</li>
				#if ($house.host)
				<li><strong>产权人：</strong>$!house.host</li>
				#end
			</ul>
			#if ($house.employee)
			<div>
				<strong>从业人员：</strong>$!house.employee
			</div>
			#end
			<div>
				<a href="javascript:void(0);" onclick="update('$house.id','house')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$house.id','house')">删除</a>
			</div>
		<hr>
		</div>
		#end
		#end
		
		#if($peoplelist)
		#foreach($people in $peoplelist)
		<div style="border-bottom:1px solid #ddd; padding: 5px 10px;">
			<ul class="list-inline">
				<li><strong>类型：</strong>$!people.type &nbsp;$!people.subtype</li>
				<li><strong>户主/出租人：</strong>$!people.hostname</li>
				<li><strong>身份证号：</strong>$!people.hostid</li>
				<li><strong>电话：</strong>$!people.hostphone</li>
				<li><strong>人数：</strong>$!people.number</li>
				#if ($people.lessee)
				<li><strong>租住人：</strong>$!people.lessee</li>
				#end
				#if ($people.stay)
				<li><strong>寄住人：</strong>$!people.stay</li>
				#end
			</ul>
			#if ($people.employee)
			<div>
				<strong>从业人员：</strong>$!people.employee
			</div>
			#end
			<div style="padding:2px 0px;">
				<a href="javascript:void(0);" onclick="update('$people.id','people')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$people.id','people')">删除</a>
			</div>
		</div>
		#end
		#end
		
		#if($employerlist)
		#foreach($employer in $employerlist)
		<div>
			<h4>$!employer.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!employer.type</li>
				<li><strong>地址：</strong>$!employer.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>主要负责人：</strong>$!employer.chargeman</li>
				<li><strong>身份证号：</strong>$!employer.chargemanid</li>
				<li><strong>联系电话：</strong>$!employer.chargemanphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>内保负责人：</strong>$!employer.safeman</li>
				<li><strong>身份证号：</strong>$!employer.safemanid</li>
				<li><strong>联系电话：</strong>$!employer.safemanphone</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$employer.id','employer')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$employer.id','employer')">删除</a>
			</div>
		<hr>
		</div>
		#end
		#end
		
		#if($placelist)
		#foreach($place in $placelist)
		<div>
			<h4>$!place.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!place.type</li>
				<li><strong>面积：</strong>$!place.area</li>
				<li><strong>地址：</strong>$!place.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>出租人：</strong>$!place.lessor</li>
				<li><strong>身份证号：</strong>$!place.lessorid</li>
				<li><strong>联系电话：</strong>$!place.lessorphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>租赁人：</strong>$!place.lessee</li>
				<li><strong>身份证号：</strong>$!place.lesseeid</li>
				<li><strong>联系电话：</strong>$!place.lesseephone</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$place.id','place')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$place.id','place')">删除</a>
			</div>
		<hr>
		</div>
		#end
		#end
		
		#if($cameralist)
		#foreach($camera in $cameralist)
		<div>
			<h4>$!camera.localname</h4>
			<ul class="list-inline">
				<li><strong>所属派出所：</strong>$!camera.policestation</li>
				<li><strong>分类：</strong>$!camera.type</li>
				<li><strong>类型：</strong>$!camera.devicetype</li>
				<li><strong>朝向：</strong>$!camera.direction</li>
				<li><strong>数量：</strong>$!camera.count</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$camera.id','camera')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$camera.id','camera')">删除</a>
			</div>
		<hr>
		</div>
		#end
		#end
		
		<!-- 分页 -->
		<ul id="pager" class="pagination pull-right">
			#if($pageindex > 5)
		    	#set($start=$pageindex)
		    #else
		    	#set($start=1)
		    #end
		    
		    #if($page - $start >10)
		    	#set($end=$start+10)
		    #else
		    	#set($end=$page)
		    	#set($start=$page-10)
		    #end
		    
		    #if($pageindex!=1)
		    <li><a href="javascript:void(0);" onclick="pageTo($pageindex-1)">&laquo;</a></li>
		    #end
		    #foreach($foo in [$start..$end])
		    	<li page=$foo #if($pageindex==$foo)class="active"#end><a href="javascript:void(0);" onlick="pageTo($foo)">$foo</a></li>
			#end
			#if($pageindex!=$end)
		    <li><a href="javascript:void(0);" onclick="pageTo($pageindex+1)">&raquo;</a></li>
		    #end
		</ul>
		
	</div><!-- 内容结束 -->
	<div class="col-md-2">
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="model-house" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
            	<form class="bs-example bs-example-form" role="form">
			        <div class="input-group">
			            <span class="input-group-addon">类别</span>
			            <input type="text" id="type" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">子类别</span>
			            <input type="text" id="subtype" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">地址</span>
			            <input type="text" id="location" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">单元</span>
			            <input type="text" id="unit" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">楼层</span>
			            <input type="text" id="floor" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">门牌号/房号</span>
			            <input type="text" id="doornumber" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">户主/房主</span>
			            <input type="text" id="owner" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon" style="width: 100px;">产权人</span>
			            <input type="text" id="host" class="form-control">
			        </div>
			        <br/>
			        <div class="input-group">
			            <span class="input-group-addon">从业人员</span>
			            <input type="text" id="employee" class="form-control">
			        </div>
			    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="model-people" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">修改信息</h4>
			</div>
			<div class="modal-body">
				<form class="bs-example bs-example-form" role="form">
					<div class="input-group">
						<span class="input-group-addon">类别</span>
						<input type="text" id="type" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">子类别</span>
						<input type="text" id="subtype" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">地址</span>
						<input type="text" id="location" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">单元</span>
						<input type="text" id="unit" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">楼层</span>
						<input type="text" id="floor" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">门牌号/房号</span>
						<input type="text" id="doornumber" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">户主/房主</span>
						<input type="text" id="owner" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon" style="width: 100px;">产权人</span>
						<input type="text" id="host" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">从业人员</span>
						<input type="text" id="employee" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交更改</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">
var currentType='$type';
$(function(){
　　$("#label-$type").addClass("active");
	$("#type").val('$type');
});

function submit() {
	$("#page").value(1);
}

function changeType(obj) {
	var type = $(obj).attr('data-type')
	$("#type").val(type);
	$("#type-lebal").html($(obj).html())
}

function changeTypeAndSubmit(type) {
	$("#type").val(type);
	$("#page").val(1);
	$("form").submit();
}

function toPage(page) {
	$("#page").val(page);
	$("form").submit();
}

function update(id, type){
	$('#model-'+type).modal('show')
}

function deleteData(id, type){
	jQuery.ajax({
		url: "/delete/"+type+"/"+id,
		success: function(date){
			alert(data);
		}
	});
}
</script>
</body>
</html>
