<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">泺源派出所</a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
        	#if($uname)
        	<li><a href="/login"></a></li>
        	<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    $uname <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/uploadpage">上传数据</a></li>
                    <li><a href="/user/logout">登出</a></li>
                </ul>
            </li>
        	#else
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            #end
        </ul> 
    </div>
    </div>
</nav>