<html>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<body>
#parse("./topbar.html")
<div class="row">
	<div class="col-md-12">
		<div style="margin: 60px 0px">
			<h1 class="text-center">数据上传</h1>
		<div/>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
	<form action="/excelUpload" method="post" enctype="multipart/form-data">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default 
				dropdown-toggle" data-toggle="dropdown">
					<span id="type-lebal">上传类型</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" data-type="house" onclick="changeType(this);">房屋</a></li>
					<li><a href="javascript:void(0);" data-type="people" onclick="changeType(this);">人口</a></li>
					<li><a href="javascript:void(0);" data-type="employer" onclick="changeType(this);">单位</a></li>
					<li><a href="javascript:void(0);" data-type="place" onclick="changeType(this);">场所</a></li>
					<li><a href="javascript:void(0);" data-type="camera" onclick="changeType(this);">监控</a></li>
				</ul>
			</div><!-- /btn-group -->
			<input type="hidden" name="type" id="type" value="">
			<input class="form-control" type="file" name="multifile" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick="return checkType();">上传</button>
			</span>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="return download();">下载模板</button>
			</span>
		</div><!-- /input-group -->
	</form>
        #if($!{code})
        <h4><font color=#if($!{code}&&$code==1)"green"#else"red"#end>$!{msg}</font></h4>
        #end
		#if(!$!{code}||$!{code}!=1)
		<h5>使用说明：</h5>
		<h5>本系统仅接受xls，xlsx文件。</h5>
		<h5>请选择想要上传的数据类型，之后点击“下载模板”（已有模板则忽略该步骤）。</h5>
		<h5>根据模板填好数据后点击“选择文件”，选好文件后点击“上传”按钮即可。</h5>
		#end
		#if($headlist)
		#foreach($house in $hoseList)
		<div>
			<h4>$!house.location</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!house.type &nbsp;$!house.subtype</li>
				#if ($house.unit)
				<li><strong>单元：</strong>$!house.unit</li>
				#end
				<li><strong>楼层：</strong>$!house.floor</li>
				#if ($house.doornumber)
				<li><strong>门牌号/房号：</strong>$!house.doornumber</li>
				#end
				<li><strong>户主/房主：</strong>$!house.owner</li>
				#if ($house.host)
				<li><strong>产权人：</strong>$!house.host</li>
				#end
			</ul>
			#if ($house.employee)
			<div>
				<strong>从业人员：</strong>$!house.employee
			</div>
			#end
			<div>
				<a href="javascript:void(0);" onclick="update('$house.id','house')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$house.id','house')">删除</a>
			</div>
			<hr>
		</div>
		#end
		#end
		#if($houselist)
		#foreach($house in $hoseList)
		<div>
			<h4>$!house.location</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!house.type &nbsp;$!house.subtype</li>
				#if ($house.unit)
				<li><strong>单元：</strong>$!house.unit</li>
				#end
				<li><strong>楼层：</strong>$!house.floor</li>
				#if ($house.doornumber)
				<li><strong>门牌号/房号：</strong>$!house.doornumber</li>
				#end
				<li><strong>户主/房主：</strong>$!house.owner</li>
				#if ($house.host)
				<li><strong>产权人：</strong>$!house.host</li>
				#end
			</ul>
			#if ($house.employee)
			<div>
				<strong>从业人员：</strong>$!house.employee
			</div>
			#end
			<div>
				<a href="javascript:void(0);" onclick="update('$house.id','house')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$house.id','house')">删除</a>
			</div>
			<hr>
		</div>
		#end
		#end

		#if($peoplelist)
		#foreach($people in $peoplelist)
		<div style="border-bottom:1px solid #ddd; padding: 5px 10px;">
			<ul class="list-inline">
				<li><strong>类型：</strong>$!people.type &nbsp;$!people.subtype</li>
				<li><strong>户主/出租人：</strong>$!people.hostname</li>
				<li><strong>身份证号：</strong>$!people.hostid</li>
				<li><strong>电话：</strong>$!people.hostphone</li>
				<li><strong>人数：</strong>$!people.number</li>
				#if ($people.lessee)
				<li><strong>租住人：</strong>$!people.lessee</li>
				#end
				#if ($people.stay)
				<li><strong>寄住人：</strong>$!people.stay</li>
				#end
			</ul>
			#if ($people.employee)
			<div>
				<strong>从业人员：</strong>$!people.employee
			</div>
			#end
			<div style="padding:2px 0px;">
				<a href="javascript:void(0);" onclick="update('$people.id','people')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$people.id','people')">删除</a>
			</div>
		</div>
		#end
		#end

		#if($employerlist)
		#foreach($employer in $employerlist)
		<div>
			<h4>$!employer.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!employer.type</li>
				<li><strong>地址：</strong>$!employer.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>主要负责人：</strong>$!employer.chargeman</li>
				<li><strong>身份证号：</strong>$!employer.chargemanid</li>
				<li><strong>联系电话：</strong>$!employer.chargemanphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>内保负责人：</strong>$!employer.safeman</li>
				<li><strong>身份证号：</strong>$!employer.safemanid</li>
				<li><strong>联系电话：</strong>$!employer.safemanphone</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$employer.id','employer')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$employer.id','employer')">删除</a>
			</div>
			<hr>
		</div>
		#end
		#end

		#if($placelist)
		#foreach($place in $placelist)
		<div>
			<h4>$!place.name</h4>
			<ul class="list-inline">
				<li><strong>类型：</strong>$!place.type</li>
				<li><strong>面积：</strong>$!place.area</li>
				<li><strong>地址：</strong>$!place.address</li>
			</ul>
			<ul class="list-inline">
				<li><strong>出租人：</strong>$!place.lessor</li>
				<li><strong>身份证号：</strong>$!place.lessorid</li>
				<li><strong>联系电话：</strong>$!place.lessorphone</li>
			</ul>
			<ul class="list-inline">
				<li><strong>租赁人：</strong>$!place.lessee</li>
				<li><strong>身份证号：</strong>$!place.lesseeid</li>
				<li><strong>联系电话：</strong>$!place.lesseephone</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$place.id','place')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$place.id','place')">删除</a>
			</div>
			<hr>
		</div>
		#end
		#end

		#if($cameralist)
		#foreach($camera in $cameralist)
		<div>
			<h4>$!camera.localname</h4>
			<ul class="list-inline">
				<li><strong>所属派出所：</strong>$!camera.policestation</li>
				<li><strong>分类：</strong>$!camera.type</li>
				<li><strong>类型：</strong>$!camera.devicetype</li>
				<li><strong>朝向：</strong>$!camera.direction</li>
				<li><strong>数量：</strong>$!camera.count</li>
			</ul>
			<div>
				<a href="javascript:void(0);" onclick="update('$camera.id','camera')">修改</a>
				&nbsp;
				<a href="javascript:void(0);" onclick="deleteData('$camera.id','camera')">删除</a>
			</div>
			<hr>
		</div>
		#end
		#end
	</div><!-- /.col-lg-6 -->
	<div class="col-md-3">
	</div>


</div><!-- /.row -->

<script type="text/javascript">
function changeType(obj) {
	$("#type").val($(obj).attr("data-type"));
	$("#type-lebal").html($(obj).html())
}

function download(){
	if(checkType()) {
		window.open("/excelDownload?type=" + $("#type").val());
	}else{
		return false;
	}
}

function checkType() {
	if($("#type").val()==""){
		alert("请选择类别！");
		return false;
	}
	return true;
}
</script>

</body>
</html>
