<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.CameraDao" >
  <resultMap id="BaseResultMap" type="com.baseinfo.collect.beans.CameraBean" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="policestation" property="policestation" jdbcType="VARCHAR" />
    <result column="localname" property="localname" jdbcType="VARCHAR" />
    <result column="devicetype" property="devicetype" jdbcType="VARCHAR" />
    <result column="direction" property="direction" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deviceid, type, policestation, localname, devicetype, direction, count, expend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_camera
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_camera
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.CameraBean" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_camera (id, type, policestation, 
      localname, devicetype, direction, 
      count)
    values (#{id,jdbcType=BIGINT}, #{deviceid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{policestation,jdbcType=VARCHAR},
      #{localname,jdbcType=VARCHAR}, #{devicetype,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}), #{expend,jdbcType=VARCHAR}
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.CameraBean" >
    update t_camera
    set deviceid = #{deviceid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      policestation = #{policestation,jdbcType=VARCHAR},
      localname = #{localname,jdbcType=VARCHAR},
      devicetype = #{devicetype,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      expend = #{expend,jdbcType=VARCHAR},
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>