<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.EmployerDao" >
  <sql id="Base_Column_List" >
    id, type, name, address, chargeman, chargemanid, chargemanphone, safeman, safemanid, 
    safemanphone, extend
  </sql>
  <select id="selectByPrimaryKey" resultMap="EmployerBean" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_employer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_employer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.EmployerBean" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_employer (id, type, name, 
      address, chargeman, chargemanid, 
      chargemanphone, safeman, safemanid, 
      safemanphone, extend)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{chargeman,jdbcType=VARCHAR}, #{chargemanid,jdbcType=VARCHAR}, 
      #{chargemanphone,jdbcType=VARCHAR}, #{safeman,jdbcType=VARCHAR}, #{safemanid,jdbcType=VARCHAR}, 
      #{safemanphone,jdbcType=VARCHAR}, #{extend,jdbcType=VARCHAR},
      #{addtime,jdbcType=DATETIME}, #{updatetime,jdbcType=DATETIME})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.EmployerBean" >
    update t_employer
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      chargeman = #{chargeman,jdbcType=VARCHAR},
      chargemanid = #{chargemanid,jdbcType=VARCHAR},
      chargemanphone = #{chargemanphone,jdbcType=VARCHAR},
      safeman = #{safeman,jdbcType=VARCHAR},
      safemanid = #{safemanid,jdbcType=VARCHAR},
      safemanphone = #{safemanphone,jdbcType=VARCHAR},
      extend = #{extend,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=DATETIME}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>