<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.HouseDao" >
  <sql id="Base_Column_List" >
    id, type, subtype, location, host, owner, ownerid, ownerphone, unit, floor, 
    doornumber, employee, expend
  </sql>
  <select id="selectByPrimaryKey" resultType="HouseBean" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_house
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_house
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.HouseBean" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_house (id, type, subtype, 
      location, host, owner, 
      ownerid, ownerphone, 
      unit, floor, doornumber, 
      employee, expend)
    values (#{id}, #{type}, #{subtype}, 
      #{location}, #{host}, #{owner}, 
      #{ownerid}, #{ownerphone},
      #{unit}, #{floor}, #{doornumber},
      #{employee}, #{expend},
      #{addtime}, #{updatetime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.HouseBean" >
    update t_house
    set type = #{type},
      subtype = #{subtype},
      location = #{location},
      host = #{host},
      owner = #{owner},
      ownerid = #{ownerid},
      ownerphone = #{ownerphone},
      unit = #{unit},
      floor = #{floor},
      doornumber = #{doornumber},
      employee = #{employee},
      expend = #{expend},
      updatetime = #{updatetime}
    where id = #{id}
  </update>
</mapper>