<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.HouseDao" >
  <sql id="Base_Column_List" >
    id, type, subtype, location, host, owner, ownerid, ownerphone, unit, floor, 
    doornumber, employee, expend
  </sql>
  <select id="selectByPrimaryKey" resultMap="HouseBean" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_house
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_house
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.HouseBean" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_house (id, type, subtype, 
      location, host, owner, 
      ownerid, ownerphone, 
      unit, floor, doornumber, 
      employee, expend)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{subtype,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{ownerid,jdbcType=VARCHAR}, #{ownerphone,jdbcType=VARCHAR},
      #{unit,jdbcType=VARCHAR}, #{floor,jdbcType=INTEGER}, #{doornumber,jdbcType=VARCHAR}, 
      #{employee,jdbcType=VARCHAR}, #{expend,jdbcType=VARCHAR},
      #{addtime,jdbcType=DATETIME}, #{updatetime,jdbcType=DATETIME})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.HouseBean" >
    update t_house
    set type = #{type,jdbcType=VARCHAR},
      subtype = #{subtype,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      ownerid = #{ownerid,jdbcType=VARCHAR},
      ownerphone = #{ownerphone,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=INTEGER},
      doornumber = #{doornumber,jdbcType=VARCHAR},
      employee = #{employee,jdbcType=VARCHAR},
      expend = #{expend,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=DATETIME}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>