<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.PeopleDao" >
  <sql id="Base_Column_List" >
    id, type, subtype, hostname, hostid, hostphone, number, lessee, stay, employee,
    expend,addtime,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="PeopleBean" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_people
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_people
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.PeopleBean">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_people (type, subtype,
    hostname, hostid, hostphone,
    number, lessee,stay, employee, expend,addtime,updatetime
    )
    values (#{type,jdbcType=VARCHAR}, #{subtype,jdbcType=VARCHAR},
    #{hostname,jdbcType=VARCHAR}, #{hostid,jdbcType=VARCHAR}, #{hostphone,jdbcType=VARCHAR},
    #{number,jdbcType=INTEGER}, #{lessee,jdbcType=VARCHAR},
    #{stay,jdbcType=VARCHAR}, #{employee,jdbcType=VARCHAR}, #{expend,jdbcType=VARCHAR},
    #{addtime,jdbcType=DATETIME}, #{updatetime,jdbcType=DATETIME}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.PeopleBean" >
    update t_people
    set type = #{type,jdbcType=VARCHAR},
      subtype = #{subtype,jdbcType=VARCHAR},
      hostname = #{hostname,jdbcType=VARCHAR},
      hostid = #{hostid,jdbcType=VARCHAR},
      hostphone = #{hostphone,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      lessee = #{lessee,jdbcType=VARCHAR},
      stay = #{stay,jdbcType=VARCHAR},
      employee = #{employee,jdbcType=VARCHAR},
      expend = #{expend,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=DATETIME}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>