<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.PeopleDao" >
  <sql id="Base_Column_List" >
    id, type, subtype, hostname, hostid, hostphone, number, lessee, stay, employee,
    expend, addtime, updatetime, policeid, policename, policearea,neighbor
  </sql>
  <select id="countBySubtype" resultType="java.util.HashMap">
    select
    subtype,count(id) as count
    from t_people GROUP BY subtype
  </select>
  <select id="countTotalNumber" resultType="java.lang.Integer" >
    select
    sum(number)
    from t_people
  </select>
  <select id="countTotal" resultType="java.lang.Integer" >
    select
    count(id)
    from t_people
  </select>
  <select id="selectByPrimaryKey" resultType="PeopleBean" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_people
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_people
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.PeopleBean">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_people (type, subtype,
    hostname, hostid, hostphone,
    number, lessee,stay, employee, expend, addtime, updatetime, policeid, policename, policearea,neighbor
    )
    values (#{type}, #{subtype},
    #{hostname}, #{hostid}, #{hostphone},
    #{number}, #{lessee},
    #{stay}, #{employee}, #{expend},
    #{addtime}, #{updatetime}, #{policeid}, #{policename}, #{policearea},#{neighbor}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.PeopleBean" >
    update t_people
    set type = #{type},
      subtype = #{subtype},
      hostname = #{hostname},
      hostid = #{hostid},
      hostphone = #{hostphone},
      number = #{number},
      lessee = #{lessee},
      stay = #{stay},
      employee = #{employee},
      expend = #{expend},
      updatetime = #{updatetime}
    where id = #{id}
  </update>
</mapper>