<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baseinfo.collect.dao.PlaceDao" >
  <sql id="Base_Column_List" >
    id, type, name, address, area, lessor, lessorid, lessorphone, lessee, lesseeid, lesseephone,
    extend, addtime, updatetime policeid, policeid, policename,policearea
  </sql>
  <select id="selectByPrimaryKey" resultType="PlaceBean" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_place
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_place
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.baseinfo.collect.beans.PlaceBean" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_place (id, type, name, 
      address, area, lessor, 
      lessorid, lessorphone, lessee, 
      lesseeid, lesseephone, extend, addtime, updatetime, policeid, policename, policearea
      )
    values (#{id}, #{type}, #{name}, 
      #{address}, #{area}, #{lessor}, 
      #{lessorid}, #{lessorphone}, #{lessee}, 
      #{lesseeid}, #{lesseephone}, #{extend},
      #{addtime}, #{updatetime}, #{policeid}, #{policename}, #{policearea}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baseinfo.collect.beans.PlaceBean" >
    update t_place
    set type = #{type},
      name = #{name},
      address = #{address},
      area = #{area},
      lessor = #{lessor},
      lessorid = #{lessorid},
      lessorphone = #{lessorphone},
      lessee = #{lessee},
      lesseeid = #{lesseeid},
      lesseephone = #{lesseephone},
      extend = #{extend},
      updatetime = #{updatetime}
    where id = #{id}
  </update>
</mapper>